<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#C2185B"/>

    <!-- BOOTSTRAP CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Material Icons Stylesheet-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <!-- Material Design Stylesheet-->
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-red.min.css" /> --> 
    <link rel="stylesheet" href="/css/material.min.css" />
    <!-- Events.css Stylesheet-->
    <link rel="stylesheet" type="text/css" href="/css/events.css">
    <!-- Roboto Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <!-- Web App Icon-->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="213x213" href="/icons/events.png">

    <title>Events-Add Event</title>    
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" type="text/css" href="/css/add_form.css">
    
</head>

<body>
<!-- Layout START-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">

  <!-- HEADER -->            
  <header class="mdl-layout__header">

        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Events</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <i class="material-icons" onClick="document.location.reload()">refresh</i>
            <i class="material-icons" onClick="location.href='/auth/logout'">power_settings_new</i>

          </div>
          
        </div>
     <div class="headbar" style='text-transform: capitalize;'><%= club %></div>
  </header>

  <!-- DRAWER -->
  <div class="mdl-layout__drawer">
    <div class="drawer-pic">
    <span class="mdl-layout-title drawer-title"><h3>Events</h3></span>
    </div>
    <!-- Icon List -->
    <ul class="demo-list-icon mdl-list">
      
      <li class="mdl-list__item">
        <span onclick= "location.href='/'" class="mdl-list__item-primary-content">
        <a href="/" class="mdl-navigation__link"><i class="material-icons mdl-list__item-icon">home</i>
        Home</a>
        </span>
      </li>
      <li class="mdl-list__item">
        <span onclick= "location.href='/auth/login'" class="mdl-list__item-primary-content">
        <a href="/auth/login" class="mdl-navigation__link"><i class="material-icons mdl-list__item-icon">account_box</i>
        Admin Login</a>

        </span>
      </li>
      <li onclick= "location.href='/clubs'" class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <a href="/clubs" class="mdl-navigation__link"><i class="material-icons mdl-list__item-icon">view_headline</i>
        Clubs</a>

        </span>
      </li>
      <li onclick= "location.href='/dashboard/admin'" class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
        <a href="/dashboard/admin" class="mdl-navigation__link"><i class="material-icons mdl-list__item-icon">dashboard</i>
        Admin Dashboard</a>

        </span>
      </li>
      
    </ul>
  </div>
    

<!-- CONTENT -->
<main class="mdl-layout__content">
    <form style="padding:25px;" id='uploadForm' action='/upload' 
    method='post' encType="multipart/form-data" novalidate class="needs-validation">

    <div class="form-group" >
        <label for="event-name">Event Name</label>
        <input type="text" name='event_name' class="form-control" id="event-name" aria-describedby="EventName" placeholder="Enter event name" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
          <label for="event-date">Event Date</label>
          <input type="date" name='event_date' class="form-control" id="event-date" aria-describedby="Event date" required>
          <div class="invalid-feedback">
          Please enter a valid date.
          </div>
      </div>
      <div class="col">
          <label for="event-time">Event Time</label>
          <input type="time" name='event_time' class="form-control" id="event-time" aria-describedby="Event time" required>
          <div class="invalid-feedback">
          Please enter valid time.
          </div>
      </div>  
  </div>
  <div class="form-group">
    <label for="event-description">Event Description</label>
    <textarea class="form-control" name='event_desc' id="event-description" rows="3" required></textarea>
    <div class="invalid-feedback">
    Please enter event description.
    </div>
</div>

<div class="input-group mb-3">

<div class="custom-file">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="event_image" name="event_image" required>
    <script type="text/javascript">
          document.getElementById('event_image').onchange = function() {
            document.querySelector('.custom-file-label').textContent=document.getElementById('event_image').files[0].name;
        };
  </script>
    <label class="custom-file-label" for="event-image">
    Choose image for event
    </label>
    <div class="invalid-feedback">Please upload and image for the event</div>
    </div>
    

</div>
<br>
<br>
<!-- <small  id="imageHelpBlock" class="form-text text-muted">
      Try to select a square image with minimum text 
      for best results across devices.
</small> -->

</div>
<div class="row form-group">
    <div class="col-7">
      <label for="event-venue">Event Venue</label>
      <input type="text" name='event_venue' class="form-control" id="event-venue" aria-describedby="Event Venue" required>
      <div class="invalid-feedback">
    Please select venue.
    </div>
  </div>
  <div class="col-5">
      <label for="club">Club Name</label>
      <select name='club' id='club' class="custom-select" required>
        <option value="<%= club %>"><%= club %></option> 
    </select>
</div>
</div>


<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  mdl-button--accent">Submit
</button>
</form>
</main>





</div><!-- Layout close-->

















<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>



<script>
//JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>



</body>
</html>
